<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clw.ssm1.mapper.WmsNoteWhsmoveExtMapper">
  <resultMap id="BaseResultMap" type="com.clw.ssm1.pojo.WmsNoteWhsmoveExt">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="move_main_id" jdbcType="BIGINT" property="moveMainId" />
    <result column="move_no" jdbcType="VARCHAR" property="moveNo" />
    <result column="move_ext_no" jdbcType="VARCHAR" property="moveExtNo" />
    <result column="pack_no" jdbcType="VARCHAR" property="packNo" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="texture" jdbcType="VARCHAR" property="texture" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="whs_house_id" jdbcType="INTEGER" property="whsHouseId" />
    <result column="origin_room_id" jdbcType="INTEGER" property="originRoomId" />
    <result column="origin_area_id" jdbcType="INTEGER" property="originAreaId" />
    <result column="origin_stack_id" jdbcType="INTEGER" property="originStackId" />
    <result column="origin_layer_id" jdbcType="INTEGER" property="originLayerId" />
    <result column="target_room_id" jdbcType="INTEGER" property="targetRoomId" />
    <result column="target_area_id" jdbcType="INTEGER" property="targetAreaId" />
    <result column="target_stack_id" jdbcType="INTEGER" property="targetStackId" />
    <result column="target_layer_id" jdbcType="INTEGER" property="targetLayerId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="INTEGER" property="modifier" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, move_main_id, move_no, move_ext_no, pack_no, brand_name, amount, weight, texture, 
    specification, whs_house_id, origin_room_id, origin_area_id, origin_stack_id, origin_layer_id, 
    target_room_id, target_area_id, target_stack_id, target_layer_id, remark, creator, 
    creator_name, create_time, modifier, modifier_name, modify_time, delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wms_note_whsmove_ext
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wms_note_whsmove_ext
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.clw.ssm1.pojo.WmsNoteWhsmoveExt">
    insert into wms_note_whsmove_ext (id, move_main_id, move_no, 
      move_ext_no, pack_no, brand_name, 
      amount, weight, texture, 
      specification, whs_house_id, origin_room_id, 
      origin_area_id, origin_stack_id, origin_layer_id, 
      target_room_id, target_area_id, target_stack_id, 
      target_layer_id, remark, creator, 
      creator_name, create_time, modifier, 
      modifier_name, modify_time, delete_flag
      )
    values (#{id,jdbcType=BIGINT}, #{moveMainId,jdbcType=BIGINT}, #{moveNo,jdbcType=VARCHAR}, 
      #{moveExtNo,jdbcType=VARCHAR}, #{packNo,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR}, 
      #{amount,jdbcType=INTEGER}, #{weight,jdbcType=DOUBLE}, #{texture,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{whsHouseId,jdbcType=INTEGER}, #{originRoomId,jdbcType=INTEGER}, 
      #{originAreaId,jdbcType=INTEGER}, #{originStackId,jdbcType=INTEGER}, #{originLayerId,jdbcType=INTEGER}, 
      #{targetRoomId,jdbcType=INTEGER}, #{targetAreaId,jdbcType=INTEGER}, #{targetStackId,jdbcType=INTEGER}, 
      #{targetLayerId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=INTEGER}, 
      #{creatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=INTEGER}, 
      #{modifierName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.clw.ssm1.pojo.WmsNoteWhsmoveExt">
    insert into wms_note_whsmove_ext
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="moveMainId != null">
        move_main_id,
      </if>
      <if test="moveNo != null">
        move_no,
      </if>
      <if test="moveExtNo != null">
        move_ext_no,
      </if>
      <if test="packNo != null">
        pack_no,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="texture != null">
        texture,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="whsHouseId != null">
        whs_house_id,
      </if>
      <if test="originRoomId != null">
        origin_room_id,
      </if>
      <if test="originAreaId != null">
        origin_area_id,
      </if>
      <if test="originStackId != null">
        origin_stack_id,
      </if>
      <if test="originLayerId != null">
        origin_layer_id,
      </if>
      <if test="targetRoomId != null">
        target_room_id,
      </if>
      <if test="targetAreaId != null">
        target_area_id,
      </if>
      <if test="targetStackId != null">
        target_stack_id,
      </if>
      <if test="targetLayerId != null">
        target_layer_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="creatorName != null">
        creator_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="moveMainId != null">
        #{moveMainId,jdbcType=BIGINT},
      </if>
      <if test="moveNo != null">
        #{moveNo,jdbcType=VARCHAR},
      </if>
      <if test="moveExtNo != null">
        #{moveExtNo,jdbcType=VARCHAR},
      </if>
      <if test="packNo != null">
        #{packNo,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="texture != null">
        #{texture,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="whsHouseId != null">
        #{whsHouseId,jdbcType=INTEGER},
      </if>
      <if test="originRoomId != null">
        #{originRoomId,jdbcType=INTEGER},
      </if>
      <if test="originAreaId != null">
        #{originAreaId,jdbcType=INTEGER},
      </if>
      <if test="originStackId != null">
        #{originStackId,jdbcType=INTEGER},
      </if>
      <if test="originLayerId != null">
        #{originLayerId,jdbcType=INTEGER},
      </if>
      <if test="targetRoomId != null">
        #{targetRoomId,jdbcType=INTEGER},
      </if>
      <if test="targetAreaId != null">
        #{targetAreaId,jdbcType=INTEGER},
      </if>
      <if test="targetStackId != null">
        #{targetStackId,jdbcType=INTEGER},
      </if>
      <if test="targetLayerId != null">
        #{targetLayerId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null">
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.clw.ssm1.pojo.WmsNoteWhsmoveExt">
    update wms_note_whsmove_ext
    <set>
      <if test="moveMainId != null">
        move_main_id = #{moveMainId,jdbcType=BIGINT},
      </if>
      <if test="moveNo != null">
        move_no = #{moveNo,jdbcType=VARCHAR},
      </if>
      <if test="moveExtNo != null">
        move_ext_no = #{moveExtNo,jdbcType=VARCHAR},
      </if>
      <if test="packNo != null">
        pack_no = #{packNo,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="texture != null">
        texture = #{texture,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="whsHouseId != null">
        whs_house_id = #{whsHouseId,jdbcType=INTEGER},
      </if>
      <if test="originRoomId != null">
        origin_room_id = #{originRoomId,jdbcType=INTEGER},
      </if>
      <if test="originAreaId != null">
        origin_area_id = #{originAreaId,jdbcType=INTEGER},
      </if>
      <if test="originStackId != null">
        origin_stack_id = #{originStackId,jdbcType=INTEGER},
      </if>
      <if test="originLayerId != null">
        origin_layer_id = #{originLayerId,jdbcType=INTEGER},
      </if>
      <if test="targetRoomId != null">
        target_room_id = #{targetRoomId,jdbcType=INTEGER},
      </if>
      <if test="targetAreaId != null">
        target_area_id = #{targetAreaId,jdbcType=INTEGER},
      </if>
      <if test="targetStackId != null">
        target_stack_id = #{targetStackId,jdbcType=INTEGER},
      </if>
      <if test="targetLayerId != null">
        target_layer_id = #{targetLayerId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null">
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clw.ssm1.pojo.WmsNoteWhsmoveExt">
    update wms_note_whsmove_ext
    set move_main_id = #{moveMainId,jdbcType=BIGINT},
      move_no = #{moveNo,jdbcType=VARCHAR},
      move_ext_no = #{moveExtNo,jdbcType=VARCHAR},
      pack_no = #{packNo,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DOUBLE},
      texture = #{texture,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      whs_house_id = #{whsHouseId,jdbcType=INTEGER},
      origin_room_id = #{originRoomId,jdbcType=INTEGER},
      origin_area_id = #{originAreaId,jdbcType=INTEGER},
      origin_stack_id = #{originStackId,jdbcType=INTEGER},
      origin_layer_id = #{originLayerId,jdbcType=INTEGER},
      target_room_id = #{targetRoomId,jdbcType=INTEGER},
      target_area_id = #{targetAreaId,jdbcType=INTEGER},
      target_stack_id = #{targetStackId,jdbcType=INTEGER},
      target_layer_id = #{targetLayerId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=INTEGER},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>