<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clw.ssm1.mapper.WmsNoteTransferMapper">
  <resultMap id="BaseResultMap" type="com.clw.ssm1.pojo.WmsNoteTransfer">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="transfer_no" jdbcType="VARCHAR" property="transferNo" />
    <result column="old_shipper_id" jdbcType="INTEGER" property="oldShipperId" />
    <result column="new_shipper_id" jdbcType="INTEGER" property="newShipperId" />
    <result column="settlement_unit_id" jdbcType="INTEGER" property="settlementUnitId" />
    <result column="warehouse_id" jdbcType="INTEGER" property="warehouseId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="settlement_status" jdbcType="INTEGER" property="settlementStatus" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="INTEGER" property="modifier" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, transfer_no, old_shipper_id, new_shipper_id, settlement_unit_id, warehouse_id, 
    `status`, settlement_status, memo, creator, creator_name, create_time, modifier, 
    modifier_name, modify_time, delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wms_note_transfer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wms_note_transfer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.clw.ssm1.pojo.WmsNoteTransfer">
    insert into wms_note_transfer (id, transfer_no, old_shipper_id, 
      new_shipper_id, settlement_unit_id, warehouse_id, 
      `status`, settlement_status, memo, 
      creator, creator_name, create_time, 
      modifier, modifier_name, modify_time, 
      delete_flag)
    values (#{id,jdbcType=BIGINT}, #{transferNo,jdbcType=VARCHAR}, #{oldShipperId,jdbcType=INTEGER}, 
      #{newShipperId,jdbcType=INTEGER}, #{settlementUnitId,jdbcType=INTEGER}, #{warehouseId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{settlementStatus,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR}, 
      #{creator,jdbcType=INTEGER}, #{creatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=INTEGER}, #{modifierName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{deleteFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.clw.ssm1.pojo.WmsNoteTransfer">
    insert into wms_note_transfer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="transferNo != null">
        transfer_no,
      </if>
      <if test="oldShipperId != null">
        old_shipper_id,
      </if>
      <if test="newShipperId != null">
        new_shipper_id,
      </if>
      <if test="settlementUnitId != null">
        settlement_unit_id,
      </if>
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="settlementStatus != null">
        settlement_status,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="creatorName != null">
        creator_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="transferNo != null">
        #{transferNo,jdbcType=VARCHAR},
      </if>
      <if test="oldShipperId != null">
        #{oldShipperId,jdbcType=INTEGER},
      </if>
      <if test="newShipperId != null">
        #{newShipperId,jdbcType=INTEGER},
      </if>
      <if test="settlementUnitId != null">
        #{settlementUnitId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="settlementStatus != null">
        #{settlementStatus,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null">
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.clw.ssm1.pojo.WmsNoteTransfer">
    update wms_note_transfer
    <set>
      <if test="transferNo != null">
        transfer_no = #{transferNo,jdbcType=VARCHAR},
      </if>
      <if test="oldShipperId != null">
        old_shipper_id = #{oldShipperId,jdbcType=INTEGER},
      </if>
      <if test="newShipperId != null">
        new_shipper_id = #{newShipperId,jdbcType=INTEGER},
      </if>
      <if test="settlementUnitId != null">
        settlement_unit_id = #{settlementUnitId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="settlementStatus != null">
        settlement_status = #{settlementStatus,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null">
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clw.ssm1.pojo.WmsNoteTransfer">
    update wms_note_transfer
    set transfer_no = #{transferNo,jdbcType=VARCHAR},
      old_shipper_id = #{oldShipperId,jdbcType=INTEGER},
      new_shipper_id = #{newShipperId,jdbcType=INTEGER},
      settlement_unit_id = #{settlementUnitId,jdbcType=INTEGER},
      warehouse_id = #{warehouseId,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      settlement_status = #{settlementStatus,jdbcType=INTEGER},
      memo = #{memo,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=INTEGER},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>