<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clw.ssm1.mapper.WmsNoteTransferExtMapper">
  <resultMap id="BaseResultMap" type="com.clw.ssm1.pojo.WmsNoteTransferExt">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="transfer_main_id" jdbcType="INTEGER" property="transferMainId" />
    <result column="transfer_main_no" jdbcType="VARCHAR" property="transferMainNo" />
    <result column="transfer_ext_no" jdbcType="VARCHAR" property="transferExtNo" />
    <result column="pack_no" jdbcType="VARCHAR" property="packNo" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="texture" jdbcType="VARCHAR" property="texture" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="origin_amount" jdbcType="INTEGER" property="originAmount" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="origin_weight" jdbcType="DOUBLE" property="originWeight" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="warehouse_id" jdbcType="INTEGER" property="warehouseId" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="INTEGER" property="modifier" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, transfer_main_id, transfer_main_no, transfer_ext_no, pack_no, brand_name, texture, 
    specification, origin_amount, amount, origin_weight, weight, warehouse_id, creator, 
    creator_name, create_time, modifier, modifier_name, modify_time, delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wms_note_transfer_ext
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wms_note_transfer_ext
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.clw.ssm1.pojo.WmsNoteTransferExt">
    insert into wms_note_transfer_ext (id, transfer_main_id, transfer_main_no, 
      transfer_ext_no, pack_no, brand_name, 
      texture, specification, origin_amount, 
      amount, origin_weight, weight, 
      warehouse_id, creator, creator_name, 
      create_time, modifier, modifier_name, 
      modify_time, delete_flag)
    values (#{id,jdbcType=INTEGER}, #{transferMainId,jdbcType=INTEGER}, #{transferMainNo,jdbcType=VARCHAR}, 
      #{transferExtNo,jdbcType=VARCHAR}, #{packNo,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR}, 
      #{texture,jdbcType=VARCHAR}, #{specification,jdbcType=VARCHAR}, #{originAmount,jdbcType=INTEGER}, 
      #{amount,jdbcType=INTEGER}, #{originWeight,jdbcType=DOUBLE}, #{weight,jdbcType=DOUBLE}, 
      #{warehouseId,jdbcType=INTEGER}, #{creator,jdbcType=INTEGER}, #{creatorName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=INTEGER}, #{modifierName,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.clw.ssm1.pojo.WmsNoteTransferExt">
    insert into wms_note_transfer_ext
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="transferMainId != null">
        transfer_main_id,
      </if>
      <if test="transferMainNo != null">
        transfer_main_no,
      </if>
      <if test="transferExtNo != null">
        transfer_ext_no,
      </if>
      <if test="packNo != null">
        pack_no,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="texture != null">
        texture,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="originAmount != null">
        origin_amount,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="originWeight != null">
        origin_weight,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="creatorName != null">
        creator_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="transferMainId != null">
        #{transferMainId,jdbcType=INTEGER},
      </if>
      <if test="transferMainNo != null">
        #{transferMainNo,jdbcType=VARCHAR},
      </if>
      <if test="transferExtNo != null">
        #{transferExtNo,jdbcType=VARCHAR},
      </if>
      <if test="packNo != null">
        #{packNo,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="texture != null">
        #{texture,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="originAmount != null">
        #{originAmount,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="originWeight != null">
        #{originWeight,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null">
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.clw.ssm1.pojo.WmsNoteTransferExt">
    update wms_note_transfer_ext
    <set>
      <if test="transferMainId != null">
        transfer_main_id = #{transferMainId,jdbcType=INTEGER},
      </if>
      <if test="transferMainNo != null">
        transfer_main_no = #{transferMainNo,jdbcType=VARCHAR},
      </if>
      <if test="transferExtNo != null">
        transfer_ext_no = #{transferExtNo,jdbcType=VARCHAR},
      </if>
      <if test="packNo != null">
        pack_no = #{packNo,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="texture != null">
        texture = #{texture,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="originAmount != null">
        origin_amount = #{originAmount,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="originWeight != null">
        origin_weight = #{originWeight,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null">
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clw.ssm1.pojo.WmsNoteTransferExt">
    update wms_note_transfer_ext
    set transfer_main_id = #{transferMainId,jdbcType=INTEGER},
      transfer_main_no = #{transferMainNo,jdbcType=VARCHAR},
      transfer_ext_no = #{transferExtNo,jdbcType=VARCHAR},
      pack_no = #{packNo,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      texture = #{texture,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      origin_amount = #{originAmount,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      origin_weight = #{originWeight,jdbcType=DOUBLE},
      weight = #{weight,jdbcType=DOUBLE},
      warehouse_id = #{warehouseId,jdbcType=INTEGER},
      creator = #{creator,jdbcType=INTEGER},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=INTEGER},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>